.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tagSelector {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  select {
    flex: 1;
  }
}

.selectedTags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.tagItem {
  position: relative;
  background-color: #f0f0f0;
  padding: 0.25rem 0.75rem;
  padding-right: 1.5rem;
  border-radius: 16px;
  font-size: 0.85rem;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.removeTagButton {
  position: absolute;
  top: -6px;
  right: -6px;
  background: #ff4d4d;
  border: none;
  color: white;
  font-weight: bold;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 0;

  &:hover {
    background: #e60000;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 15px;
}
  
.submitButton {
  align-self: flex-start;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #111;
  }
}
